*{
     margin: 0; padding: 0;box-sizing: border-box;
     font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%; height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%; height: 15vh;
    background: rgba(0,0,0,0.2);
    color: white; display: flex; justify-content: space-between;
    align-items: center; text-transform: uppercase;
}

           body{
              margin: 0;
              padding: 0;
              font-family: arial;
           }

             .container{
                 position: absolute;
                 left: 0;
                 top: 0;
                 width: 100%;
                 height: 100vh;
                 animation: animate 16s ease-in-out infinite;
                 background-size: cover;
             }

             @keyframes animate{
                 0%{ background-image: url('Darjeeling.jpg'); } 
                 20%{ background-image: url('Taj_Mahal_in_India_-_Kristian_Bertel.jpg'); }
                 35%{ background-image: url('jaipur.jpg'); }
                 60%{ background-image: url('kerala.jpg'); }
                 80%{ background-image: url('delhi.jpg'); }
                 100%{ background-image: url('https://source.unsplash.com/720x600/?nature,CSS'); }
             }

nav .logo{
    width: 25%; text-align: center;
    /*background: red;*/
}

nav .menu{
    width: 40%; 
    display: flex; justify-content: space-around;
}

nav .menu a {
    width: 25%;
    text-decoration: none; color: white;
    font-weight: bold;
}

nav .menu a:first-child{
    color: #00b894;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; color: white;
}

section{

}

section h3{
    font-size: 35px; font-weight: 200; letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

section .btnone{
    /*background: #00b894;*/
    background: #fff;
      color: #000;
}

.btnone:hover{
    background: #00b894;
    color: white;
}

section .btntwo{
      background: #00b894;
      color: white;
}

.btntwo:hover{   
    background: #fff;
    color: #000;
}

.change_content::after{
    content: ' ';
    animation: changetext 10s infinite linear;
    color: #00b894;
}

@keyframes changetext{
    0%{content: "Darjeeling";}
    20% { content: "Agra"; }
    35% { content: "Jaipur"; }
    60% { content: "Kerala"; }
    80% { content: "delhi"; }
    100% { content: "Mumbai"; }
}
